<!-- 文档左侧菜单 -->
<div class="side-menu doc-menu">
    <dl>
        <dt><a class="{{pageName=='doc-start'?'on':''}}"  href="start">快速开始</a></dt>
    </dl>
    <dl>
        <dt>使用指南</dt>
        <dd>
            <a class="{{pageName=='doc-page'?'on':''}}" href="page">创建页面</a>
            <!-- <ul>
                <li><a href="#">安装astros-cli</a></li>
            </ul> -->
        </dd>
        <dd>
            <a class="{{pageName=='doc-mod'?'on':''}}" href="mod">模块化</a></dd>
        <dd>
            <a class="{{pageName=='doc-ref'?'on':''}}" href="res-ref">资源引用</a>
        </dd>
        <dd>
            <a class="{{pageName=='doc-image'?'on':''}}" href="image">图片处理</a>
        </dd>
        <dd>
            <a class="{{pageName=='doc-font'?'on':''}}" href="font">SVG转字体</a>
        </dd>
    </dl>
    <dl>
        <dt>开发文档</dt>
        <dd>
            <a class="{{pageName=='doc-astros'?'on':''}}" href="astros">Astros对象</a>
        </dd>
        <dd>
            <a class="{{pageName=='doc-asset'?'on':''}}" href="asset">Asset对象</a>
        </dd>
        <dd>
        <a class="{{pageName=='doc-middleware'?'on':''}}" href="middleware">开发中间件</a>
        </dd>
        <dd>
            <a class="{{pageName=='doc-release'?'on':''}}" href="release">发布</a>
        </dd>        
    </dl>
</div>