@include "app/icon";
pre,code{
	#text .wrap();
}
.top-wrap{
	width:100%;
	height:490px;
	background:url("~/img/header-bg.jpg") no-repeat center top;
	background-size:100% 100%;
	color:#fff;
}
.section{
	width: 1065px;
	margin:0 auto;
	.clearfix();
}
.header{
	padding-top:20px;
	.clearfix();
	.logo{
		float:left;
		width:96px;
		height:79px;
		background:url("~/img/logo.png") no-repeat center top;
	}
	.nav{
		float: right;
		margin-top:25px;
		li{
			display:inline-block;
			margin:0 28px;
		}
		a{
			color:#fff;
			display:inline-block;
		}
		a:hover,a.active{
			border-bottom:2px solid #25abf5;
		}
	}
}
input.btn-define-m,a.btn-define-m{
	margin-top:40px;
	display:inline-block;
	background-color: #30aff6;
	border-radius:20px;
	padding:10px 40px;
	text-align:center;
	color:#fff;
	font-size:16px;
}
input.btn-define-l,a.btn-define-l{
	margin-top:40px;
	display:inline-block;
	background-color: #30aff6;
	border-radius:40px;
	padding:15px 70px;
	text-align:center;
	color:#fff;
	font-size:24px;
}
.top-inner{
	text-align:center;
	h2{
		font-size:52px;
		margin-top: 60px;
	}
	p{
		font-size:14px;
		margin-top: 30px;
		span{
			margin:0 50px;
		}
	}
}
.index-map{
	padding:50px 0;
	.clearfix();
	li{
		float:left;
		display:block;
		width:102px;
		margin:0 50px;
		a{
			display:block;
			text-align:center;
			span{
				display:block;
				width:102px;
				height:117px;
				padding-top:15px;
				margin-bottom: 10px;
			}
		}
	}
	li:last-child{
		a{
			span{
				padding-top:0;
			}
		}
	}
}
.section01,.section02,.section03,.section04,.section05,.section06{
	padding:80px 0;
	.section{
		#display .box();
		#display .box-align(center,justify);
		position: relative;
		left:50%;
		.transform(translate(-50%,0));
		margin:0;
	}
}
.section01{
	background: url("~/img/section-bg01.jpg") repeat left top;
}
.code{
	width:260px;
	margin:0 30px;
	code{
		display:block;
		padding:15px;
		background-color:#000;		
	}
}
.section-inner{
	#display .flex(1);
	color:#fff;
	width:360px;
	dt{
		font-size:24px;
	}
	dd{
		width:100%;
		font-size:16px;
		margin-top:20px;
		.clearfix();
		#display .box();
		#display .box-align(center,start);
		p{
			#display .flex(1);
			width:310px;
			margin-left: 8px;
		}
	}
}
.section02{
	.section-inner{
		color:#4b565c;
		#display .flex(1);
		margin-right:40px;
	}
	.section-temp{
		#display .flex(1);
		width:53%;
	}
	.code-lst{
		width:100%;
		#display .box();
		#display .box-align(center,justify);
		li{
			#display .flex(1);
			width:30%;
			font-size:12px;
			color:#4b565c; 
			margin-left:40px;
			code{
				background-color:#e7f3fe;
				display:block;
				padding:10px;
			}
			p{
				text-align:center;
				font-size: 14px;
				color:#313b59;
				margin-top:10px;
			}
			&:first-child{
				margin-left:0;
				position:relative;
				&:after{
					position: absolute;
					right:-30px;
					top:50%;
					.transform(translate(0,-120%));
					display:block;
					width:20px;
					height:21px;
					content:url("~/img/jiantou.png");
				}
			}
		}
	}
	.img-lst{
		width:100%;
		.clearfix();
		margin-top: 30px;
		li{
			float:left;
			font-size:12px;
			color:#4b565c; 
			padding:10px;
			margin-left:20px;
			&:first-child{
				margin-left:0;
			}
			p{
				text-align:center;
				font-size: 14px;
				color:#313b59;
				margin-top:10px;
			}

		}
	}
}
.section03{
	background: url("~/img/section-bg02.jpg") repeat left top;
	.code{
		width:320px;
	}
	.code code:nth-child(2){
		margin-top:30px;
	}
}
.section04{
	.section-inner{
		color:#4b565c;
		#display .flex(1);
		margin-right:40px;
		dd{
			display:block;
			width:100%;
		}
	}
}
.section05{
	background: url("~/img/section-bg03.jpg") repeat left top;
	.section-inner {
		#display .flex(1);
		margin-left:40px;
		dd{
			display:block;
			width:100%;
		}
	}
}
.section06{
	background: url("~/img/section-bg04.jpg") repeat left top;
	text-align:center;
}