<div class="header">
    <div class="section">
        <h1 class="logo"></h1>
        <ul class="nav">
            <li><a class="{{pageName=='index'?'active':''}}" href="/">首页</a></li>
            <li><a class="{{pageName.indexOf('doc-')>-1?'active':''}}" href="/doc/start">文档</a></li>
            <li><a class="{{pageName=='middleware-list'?'active':''}}" href="/middlewares">中间件列表</a></li>
            <li><a href="https://github.com/lemonabc/astros/issues">问题</a></li>
        </ul>
    </div>
</div>